body{
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='81.5' patternTransform='scale(2) rotate(135)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1.5' stroke='hsla(259, 100%, 50%, 1)' fill='none'/><path d='M-20.133 24.568C-13.178 24.932-6.452 27.376 0 30c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1.5' stroke='hsla(185, 82%, 52%, 1)' fill='none'/><path d='M-20.133 44.568C-13.178 44.932-6.452 47.376 0 50c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1.5' stroke='hsla(198.7,97.6%,48.4%,1)' fill='none'/><path d='M-20.133 64.568C-13.178 64.932-6.452 67.376 0 70c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1.5' stroke='hsla(176, 81%, 61%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}
.newPost{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#new-content{
    padding: 10px;
    margin: 40px;
    margin-top: 20px;
}
h2{
    position: relative;
    text-align: center;
    font-family: "Rubik";
    font-weight: 450;
}
.create-new{
    border-width: 5px;
    border-style: solid;
    border-color: #67C6E3;
    width: 50%;
    border-radius: 5px;
    position: relative;
    left: 25%;
    right: 25%;
    text-align: center;
    margin-top: 20px;
    background-color: white;
   
}
.btn{
    margin: 5px;
    padding: 5px;
    background-color: #3586ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
label{
    font-size: 18px;
    margin-bottom: 5px;
    font-family: "Rubik";
    font-weight: 400;
}
.new-tit-cont{
    border-radius: 5px;
    border-color: black;
    
    color: black;
    margin: 50px;
    margin-bottom: 20px;
    
}
input{
    background-color: #DFF5FF;
}
textarea{
    background-color: #DFF5FF;
}
.posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.border-post{
    border-width: 2px;
    border-color: #67C6E3;
    border-style: solid;
    width: 500px;
    height: max-content;
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    
}
.post-item{
    height: fit-content;
    width: auto;
}
.post-title{
    font-size: 20px;
    font-family: "Rubik";
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}
.post-content{
    font-size: 14px;
    font-weight: 350;
    font-family: "Rubik";
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    height: auto;
    margin: 0px;
    word-wrap: break-word;
    margin-left: 20%;
    margin-right: 20%;
}
.post-time{
    font-size: 12px;
    font-weight: 300;
    font-family: "Rubik";
    margin-bottom: 0px;
    text-align: center;
    font-style: italic;
    text-align: end;
    margin-right: 5px;
    margin-top: 50px;
}
hr{
    color: #67C6E3;
    background-color: #67C6E3;
}
.btn{
    border-radius: 15px;
    font-family: "Rubik";
    border: 2px solid;
}
.btn-outline-update{
    padding : 5px;
    border-radius: 15px;
    background-color: white;
    margin-left: 10px;
    color:#378CE7 ;
    border: 2px solid #378CE7;
    font-size: 14px;
    font-weight: 400;
    font-family: "Rubik";
}

.btn-delete{
    padding : 5px;
    border-radius: 15px;
    background-color: white;
    margin-left: 5px;
    color:#D71313 ;
    border: 2px solid #D71313;
    font-size: 14px;
    font-weight: 400;
    font-family: "Rubik";
}
.btn-delete-modal{
    background-color: #D71313;
    color: white;
}
.btn-cancel-modal{
    background-color: gray !important;
    color: white;
}
.title-label-update{
    text-align: center;
}
.post-btn{
    background-color: #5356FF;
    opacity: 1;
}
